@import "base/_variables";
@import "blocks/_promo";
@import "blocks/_header";
@import "blocks/_advantages";
@import "blocks/_consultation";
@import "blocks/_carousel";
@import "blocks/_catalog";
@import "blocks/_reviews";
@import "blocks/_footer";
@import "blocks/_modal";
@import "blocks/_media";

body {
	font-family: "Museo Sans Cyrl", sans-serif;
}

.container {
	max-width: 950px;
	margin: 0 auto;
	position: relative;
}

.button {
	width: 150px;
	height: 30px;
	background: $main-color;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	color: #fff;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 500;
	&--main {
		width: 301px;
		height: 51px;
		font-size: 16px;
	}
	&--mini {
		width: 132px;
		height: 41px;
		font-size: 14px;
	}
}

.input {
	width: 301px;
	height: 51px;
	padding: 21px;
	border-radius: 5px;
}

.title {
	font-size: 30px;
	line-height: 30px;
	font-weight: 700;
	text-transform: uppercase;
	color: #000;
	text-align: center;
}

@media screen and (max-width: 992px) {
	.container {
		max-width: 750px;
	}
}
@media screen and (max-width: 768px) {
	.container {
		max-width: 550px;
	}
	.button {
		&--mini {
			width: 105px;
			height: 35px;
		}
	}
}
@media screen and (max-width: 576px) {
	.container {
		max-width: 90%;
	}
	.title {
		font-size: 28px;
	}
	.button {
		&--main {
			width: 290px;
		}
	}
	.input {
		width: 290px;
	}
}

.error {
	margin-bottom: 10px;
	font-size: 15px;
	text-align: center;
	font-weight: 700;
}

input.error {
	text-align: left;
	border: 1px solid $main-color;
}

.hide {
	display: none;
}

.show {
	display: block !important;
}

.hidden {
	overflow: hidden;
}

.fade {
	animation-name: fade;
	animation-duration: 0.6s;
}
@keyframes fade {
	from {
		opacity: 0.1;
	}
	to {
		opacity: 1;
	}
}
