.footer {
	position: relative;
}
.footer-content {
	width: 461px;
	position: absolute;
	top: 0;
	left: 50%;
	z-index: 99;
	transform: translateX(-50%);
	padding: 51px 68px 60px 70px;
	background: $main-color;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	&__address,
	&__phone {
		display: block;
		font-size: 20px;
		color: #fff;
		margin-bottom: 36px;
		text-align: center;
	}

	&__address {
		font-weight: 300;
	}
	&__phone {
		font-weight: 700;
	}

	&__links {
		display: flex;
		justify-content: space-between;
		width: 212px;
		margin: 0 auto;
	}

	&__link {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 51px;
		height: 51px;
		border: 2px solid #fff;
		text-align: center;
		border-radius: 100%;
		-webkit-border-radius: 100%;
		-moz-border-radius: 100%;
		-ms-border-radius: 100%;
		-o-border-radius: 100%;
	}
}

.icon-facebook,
.icon-instagram,
.icon-pinterest {
	font-size: 25px;
	color: #fff;
}
